@page
@model HistoryModel
        @{
    ViewData["Title"] = "Summary history";
}
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button2 {
            background-color: white;
            color: black;
            border: 2px solid #008CBA;
        }

        .button2:hover {
            background-color: #008CBA;
            color: white;
        }
    </style>
</head>
<div>
    <h2>@ViewData["Title"]</h2>
    <table>
        <tr>
            <th>REPORT ID</th>
            <th>ADDRESS</th>
            <th>REPORT DETAILS</th>
            <th>WORKER FIRST AND LAST NAME</th>
            <th>OUTAGE MANAGEMENT STEPS</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Address 1</td>
            <td>Details 1</td>
            <td>Mile Kajtez</td>
            <td><button class="button button2">View</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Address 2</td>
            <td>Details 2</td>
            <td>Mile Kajtez</td>
            <td><button class="button button2">View</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Address 3</td>
            <td>Details 3</td>
            <td>Mile Kajtez</td>
            <td><button class="button button2">View</button></td>
        </tr>
    </table>
</div>
